@import "../../assets/variables.scss";

#projectsSection {
  h1 {
    font-size: 2rem;
    color: yellow;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  #projectsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 0;

    @media screen and (min-width: 1014px) {
      margin: 3rem 0;
    }

    .hidden {
      opacity: 0;
      transform: translate3d(0, -100px, 0) rotateX(90deg);
    }

    .show {
      opacity: 1;
      transform: translate3d(0, 0px, 0);
    }

    .Card {
      background-color: $secondary-color-sixty-transparent;
      display: flex;
      flex-direction: column;
      font-family: $font-stack;
      border-radius: 1rem;
      border: 1px solid $primary-color;
      width: 95%;
      transition: width 500ms, transform 500ms, opacity 1s;

      @media screen and (min-width: 920px) {
        width: 45%;
        &:nth-of-type(3n - 1) {
          transition: width 500ms, transform 500ms, opacity 2s;
        }
      }

      @media screen and (min-width: 1300px) {
        width: 30%;
        &:nth-of-type(3n) {
          transition: width 500ms, transform 500ms, opacity 3s;
        }
      }

      .titleCard,
      p,
      h2 {
        padding: 1rem;
      }

      .titleCard {
        margin: 0;
        border-bottom: 1px solid $primary-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        img {
          width: 30px;
        }

        .logoCard {
          @media screen and (min-width: 1020px) {
            width: 40px;
          }
        }

        .spanTitleCard {
          display: flex;
          gap: 1rem;
          width: 100%;
          text-align: center;
          align-items: center;
          justify-content: center;

          @media screen and (min-width: 1854px) {
            width: auto;
            text-align: none;
            align-items: none;
            justify-content: none;
          }

          img {
            filter: invert(100%);
          }

          img:hover {
            filter: invert(100%) hue-rotate(30deg) brightness(170%)
              drop-shadow(0 0 0.1rem yellow);
          }

          .unclickable {
            pointer-events: none;
            filter: invert(50%);
          }
        }
      }

      .bodyCard {
        display: flex;
        flex-direction: column;

        img {
          border-bottom: 1px solid white;
        }

        .description {
          text-align: left;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .descriptionTwo {
          text-align: left;
          margin-top: 0;
          padding-top: 5px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      span,
      .hashtags {
        color: yellow;
        font-weight: bold;
        span {
          display: block;
        }
        span:nth-child(2) {
          margin-top: 0.75rem;
        }
      }

      .hashtags {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          width: 78%;
        }
      }
    }

    .Card:hover {
      background-color: rgba(45, 51, 102, 0.75);
      transform: scale(1.1);
    }
  }
}
