@import "../../assets/variables.scss";

#aboutSection {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    margin-bottom: 2.8rem;
    font-size: 2rem;
    color: yellow;
    font-weight: bold;
  }

  #aboutBox {
    background-color: $secondary-color-sixty-transparent;
    font-family: $font-stack;
    border-radius: 1rem;
    border: 1px solid $primary-color;
    display: flex;
    justify-content: center;
    width: 88%;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;

    @media screen and (min-width: 920px) {
      width: 92%;
      padding: 1rem 2rem;
      justify-content: flex-start;
    }

    p {
      text-align: left;
      width: 100%;

      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 1rem;
        min-height: 12rem;

        @media screen and (min-width: 920px) {
          width: 70%;
          flex-grow: 2;
          margin-left: 1.2rem;
        }
      }
    }

    #experienceMenu {
      display: flex;
      gap: 1rem;

      @media screen and (min-width: 920px) {
        flex-direction: column;
      }
    }

    a {
      margin-top: 2rem;
      align-self: center;

      @media screen and (min-width: 920px) {
        margin-right: 14rem;
      }
    }

    a,
    button {
      box-sizing: content-box;
      font-size: 1rem;
      width: fit-content;
      background-color: transparent;
      display: flex;
      align-items: center;
      //   justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 10px;
      border: 1px solid $primary-color;
      text-decoration: none;
      color: white;

      &:hover {
        color: yellow;
      }

      img {
        height: 24px;
      }

      @media screen and (min-width: 920px) {
        width: 11rem;
      }

      .experienceTitle {
        display: none;

        @media screen and (min-width: 920px) {
          display: block;
        }
      }
    }
  }
}
