@import "../../assets/variables.scss";

header {
  font-size: 2rem;
  background-color: $secondary-color-quarter-transparent;
  z-index: 5;

  .burger {
    z-index: 6;
    position: fixed;
    box-sizing: border-box;
    top: 1.6rem;
    right: 1.6rem;
    padding: 1rem;
    width: 24px;
    height: 24px;
    background: transparent;
    cursor: pointer;

    &:hover {
      animation: animBurger 0.4s ease;

      @keyframes animBurger {
        0% {
          transform: translateY(0px);
        }

        25% {
          transform: translateY(-5px);
        }

        50% {
          transform: translateY(0px);
        }

        75% {
          transform: translateY(-5px);
        }

        100% {
          transform: translateY(0px);
        }
      }
    }

    input {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: yellow;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      filter: brightness(170%) drop-shadow(0 0 0.1rem yellow);
      transform: rotate(0deg);
      transition: 0.25s ease;
    }

    span:nth-of-type(1) {
      top: 0px;
      transform-origin: left center;
    }

    span:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left center;
    }

    span:nth-of-type(3) {
      top: 100%;
      transform-origin: left center;
      transform: translateY(-100%);
    }

    input:checked ~ span:nth-of-type(1) {
      transform: rotate(45deg);
      width: 125%;
      top: 0px;
      left: 2px;
    }

    input:checked ~ span:nth-of-type(2) {
      transform: translateX(-10px);
      width: 0%;
      opacity: 0;
    }

    input:checked ~ span:nth-of-type(3) {
      transform: rotate(-45deg);
      width: 125%;
      top: 28px;
      left: 2px;
      box-shadow: 0 0 10px #495057;
    }
  }

  nav {
    z-index: 5;
    width: 100%;
    background-color: $secondary-color-quarter-transparent;
    height: 100%;
    position: fixed;
    top: -1px;
    transition: 0.25s ease;
    // padding-top: 4rem;

    @media screen and (min-width: 1020px) {
      border-left: 3px solid;
      right: 0;
      padding-right: 6.1rem;
      padding-left: 6.1rem;
      width: initial;
      text-align: left;
      border-image: linear-gradient(
          rgba(233, 68, 68, 0) 5%,
          yellow 49.95%,
          rgba(233, 68, 68, 0) 95%
        )
        1 100%;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        padding-bottom: 3rem;
        &:hover {
          filter: brightness(170%) drop-shadow(0 0 0.1rem yellow);
        }
      }
    }
  }

  .showNav {
    transform: translateX(0px);
  }

  .hideNav {
    transform: translateX(500px);
  }
}
