@import "../assets/variables";

.Card {
  font-family: $font-stack;
  border-radius: 1rem;
  border: 1px solid $primary-color;
  width: 50vh;

  .titleCard,
  p,
  h1 {
    padding: 1rem;
  }

  .titleCard {
    margin: 0;
    border-bottom: 1px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .bodyCard {
    .description {
      text-align: left;
    }

    span,
    .hashtags {
      color: yellow;
    }
  }
}
